
* {
    box-sizing: border-box;
    font-family: "Open Sans", "Arial", sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
 }

div {
    position: relative;
    text-align: center;
}

section {
    display: inline;
}

main {
    text-align: left;
}

pre {
    text-align: left;
}
.content {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

img {
    display: block;
    top: 100px;
    left: 800px;
    border-radius: 47%;
}

